In [1]:
# PANDA

In [3]:
import pandas as p

In [4]:
df=p.read_csv("C:\\Users\\Sosaha\\Downloads\\archive\\weather_data.csv")

In [7]:
df

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0
...,...,...,...,...,...,...,...
361,27-12-2016,60,40,50.0,0,0,0
362,28-12-2016,40,34,37.0,0,0,0
363,29-12-2016,46,33,39.5,0.39,0,0
364,30-12-2016,40,33,36.5,0.01,T,0
365,31-12-2016,44,31,37.5,0,0,0

In [8]:
df['maximum temperature'].max()

96

In [9]:
df['date'][def['precipitation']!=0]

SyntaxError: invalid syntax (<ipython-input-9-665b07325115>, line 1)

In [12]:
df['date'][df['precipitation']!=0]

0        1-1-2016
1        2-1-2016
2        3-1-2016
3        4-1-2016
4        5-1-2016
          ...
361    27-12-2016
362    28-12-2016
363    29-12-2016
364    30-12-2016
365    31-12-2016
Name: date, Length: 366, dtype: object

In [15]:
df['average temperature'].mean()

57.21584699453552

In [14]:
df.fillna(0,inplace=True)

In [16]:
df.shape()

TypeError: 'tuple' object is not callable

In [17]:
df.shape

(366, 7)

In [18]:
df.head()

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0

In [19]:
df.head(3)

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0

In [20]:
df.tail()

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
361,27-12-2016,60,40,50.0,0,0,0
362,28-12-2016,40,34,37.0,0,0,0
363,29-12-2016,46,33,39.5,0.39,0,0
364,30-12-2016,40,33,36.5,0.01,T,0
365,31-12-2016,44,31,37.5,0,0,0

In [21]:
df.tail(1)

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
365,31-12-2016,44,31,37.5,0,0,0

In [22]:
df[2:5]

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0

In [23]:
df.columns

Index(['date', 'maximum temperature', 'minimum temperature',
       'average temperature', 'precipitation', 'snow fall', 'snow depth'],
      dtype='object')

In [24]:
df.average temperature

SyntaxError: invalid syntax (<ipython-input-24-b5e08983ff17>, line 1)

In [25]:
df.date

0        1-1-2016
1        2-1-2016
2        3-1-2016
3        4-1-2016
4        5-1-2016
          ...
361    27-12-2016
362    28-12-2016
363    29-12-2016
364    30-12-2016
365    31-12-2016
Name: date, Length: 366, dtype: object

In [26]:
df.deleteIndex

AttributeError: 'DataFrame' object has no attribute 'deleteIndex'

In [27]:
df[['date','maximum temperature']]

           date  maximum temperature
0      1-1-2016                   42
1      2-1-2016                   40
2      3-1-2016                   45
3      4-1-2016                   36
4      5-1-2016                   29
..          ...                  ...
361  27-12-2016                   60
362  28-12-2016                   40
363  29-12-2016                   46
364  30-12-2016                   40
365  31-12-2016                   44

[366 rows x 2 columns]

In [28]:
df.describe()

       maximum temperature  minimum temperature  average temperature
count           366.000000           366.000000           366.000000
mean             64.625683            49.806011            57.215847
std              18.041787            16.570747            17.124760
min              15.000000            -1.000000             7.000000
25%              50.000000            37.250000            44.000000
50%              64.500000            48.000000            55.750000
75%              81.000000            65.000000            73.500000
max              96.000000            81.000000            88.500000

In [32]:
df[df['maximum temperature']==df['maximum temperature'].max()]

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
204,23-7-2016,96,80,88.0,0,0,0
225,13-8-2016,96,81,88.5,0,0,0

In [38]:
df['date','maximum temperature'][df['maximum temperature']==df['maximum temperature'].max()]

KeyError: ('date', 'maximum temperature')

In [34]:
df[['date','maximum temperature']]

           date  maximum temperature
0      1-1-2016                   42
1      2-1-2016                   40
2      3-1-2016                   45
3      4-1-2016                   36
4      5-1-2016                   29
..          ...                  ...
361  27-12-2016                   60
362  28-12-2016                   40
363  29-12-2016                   46
364  30-12-2016                   40
365  31-12-2016                   44

[366 rows x 2 columns]

In [40]:
df['date','maximum temperature'][df['maximum temperature']==df['maximum temperature'].max()]

KeyError: ('date', 'maximum temperature')

In [43]:
df[['date','maximum temperature']][df['maximum temperature']==df['maximum temperature'].max()]

          date  maximum temperature
204  23-7-2016                   96
225  13-8-2016                   96

In [45]:
df.set_index['date',inplace=True]

SyntaxError: invalid syntax (<ipython-input-45-87c794a29878>, line 1)

In [47]:
df.set_index['date',inplace=True]

SyntaxError: invalid syntax (<ipython-input-47-87c794a29878>, line 1)

In [48]:
df.set_index('date',inplace=True)

In [49]:
df

,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
date,,,,,,
1-1-2016,42,34,38.0,0.00,0.0,0
2-1-2016,40,32,36.0,0.00,0.0,0
3-1-2016,45,35,40.0,0.00,0.0,0
4-1-2016,36,14,25.0,0.00,0.0,0
5-1-2016,29,11,20.0,0.00,0.0,0
...,...,...,...,...,...,...
27-12-2016,60,40,50.0,0,0,0
28-12-2016,40,34,37.0,0,0,0
29-12-2016,46,33,39.5,0.39,0,0
30-12-2016,40,33,36.5,0.01,T,0
31-12-2016,44,31,37.5,0,0,0

In [50]:
df.loc['27-12-2016']

maximum temperature      60
minimum temperature      40
average temperature    50.0
precipitation             0
snow fall                 0
snow depth                0
Name: 27-12-2016, dtype: object