# Pandas to read and write

In [2]:
import pandas as pd

In [7]:
df=pd.read_excel("stocks.xlsx")

ValueError: Your version of xlrd is 2.0.1. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.

In [8]:
df=pd.read_excel('path/to/file.xlsx', engine='openpyxl')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [18]:
df=pd.read_excel("stocks.xlsx")

In [19]:
df

    Company Name  Price Earnings Per Share      Book Value
0       Reliance   1467                 66             653
1     Tata Steel    391                 89            NONE
2        Infosys    650                 35             147
3      Axis Bank    739            NO DATA  NOT APPLICABLE
4  Bajaj Finance   4044                 69             341

In [20]:
df=pd.read_excel("stocks.xlsx", na_values=["NO DATA","NONE","NOT APPLICABLE"])

In [27]:
df=pd.read_excel("stocks.xlsx")

In [28]:
df

    Company Name  Price  Earnings Per Share      Book Value
0       Reliance   1467                  -1             653
1     Tata Steel    391                  89            NONE
2        Infosys    650                  35             147
3      Axis Bank     -1                  -1  NOT APPLICABLE
4  Bajaj Finance   4044                  69             341

In [34]:
df1=pd.read_excel("stocks.xlsx",na_values={"Earnings Per Share":["NO DATA","NONE","NOT APPLICABLE",-1]})

In [36]:
df1

    Company Name  Price  Earnings Per Share      Book Value
0       Reliance   1467                  -1             653
1     Tata Steel    391                  89            NONE
2        Infosys    650                  35             147
3      Axis Bank     -1                  -1  NOT APPLICABLE
4  Bajaj Finance   4044                  69             341

In [37]:
df1.to_excel("new.xlsx",index=False)

In [42]:
df1.to_excel("new.xlsx",columns=['Company Name','Price'],index=False)